html
{
    width: 400px;  /* max: 800px */
    height: 300px; /* max: 600px */
}

.actionButtons{
    height: 40px;
    width: 28%;
    margin: 2%;
}

textarea::placeholder {
    color: rgb(21, 106, 191);
    font-style: italic;

  }